<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TF2_Server_Manager_Console.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TF2_Server_Manager_Console.My.MySettings>
            <setting name="Server_Name" serializeAs="String">
                <value>TF2 Server</value>
            </setting>
            <setting name="Startup_Map" serializeAs="String">
                <value>pl_upward</value>
            </setting>
            <setting name="Max_Players" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Server_Port" serializeAs="String">
                <value>27015</value>
            </setting>
            <setting name="SV_PURE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SV_LAN" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sv_region" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mp_disable_respawn_times" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sv_alltalk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="folder" serializeAs="String">
                <value>C:\Server Manager\Servers\TF2\</value>
            </setting>
        </TF2_Server_Manager_Console.My.MySettings>
    </userSettings>
</configuration>